
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/Layout_admin.cshtml";
}

<h2>Add goal</h2>
<form asp-controller="Goals" asp-action="Add" method="post">
    <label>Name of goal:</label>
    <input type="text" class="form-control" name="goal" required/><br>
    <input type="submit" class="btn btn-success" value="Add" />
</form>
<br />
<table class="table table-bordered">
    <tr>
        <th>Id of goal</th>
        <th>Name</th>
    </tr>
    @foreach (var item in ViewBag.Goals)
            {
        <tr>
            <td>@item.GoalId</td>
            <td>@item.GoalName</td>
        </tr>
    }
</table>