<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Payments_system</title>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.2.6.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a onclick="location=history.back()" class="navbar-brand">Back</a>
            </div>
            
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Payments_system</p>
        </footer>
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>

