@using Payments_system.ViewModels;
@model WarningViewModel
@{
    ViewData["Title"] = "Warning";
}

<html>
<head>
    <title>Payments_system</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3>@Model.Message</h3>
    <form asp-action="Delete" asp-controller="@Model.Controller" method="post">
        <input type="hidden" name="deletingEntity" value="@Model.Entity" />
        <input type="hidden" name="accept" value="true" />
        <input type="submit" value="Ok" class="btn btn-success" /> 
        <input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()" />
    </form>
</body>
</html>